@import "./fonts.css";

* {
  box-sizing: border-box;
}

:root {
  --bg-bg-5: #F0F6FE;
  --grey-color-black-90: #17171A;
  --color-brend-primary: #0F62FE;
  --link-link-color-default: #0C5BEF;
  --grey-color-black-85: #222327;
  --link-link-dark-default: #00133A;
  --button-button-bordered-default: #002DBF;

  --radius-m: 16px;
  --radius-full: 360px;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
}

.btn {
  padding: 16px 32px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: var(--button-button-bordered-default);
  border-radius: 8px;
  border: 1px solid var(--button-button-bordered-default);
  background-color: transparent;
  outline: none;
  cursor: pointer;
}